{
  "api_key": "{{ pool_tool_api_id }}",
  "pools": [
    {
      "name": "{{ cardano_pool_ticker }}",
      "pool_id": "{{ cardano_pool_id }}",
      "host" : "127.0.0.1",
      "port": {{ cardano_default_port }}
    }
  ]
}
