#!/bin/bash
# Environment variables are populated at runtime in env_vars.sh

/usr/bin/cardano-node run +RTS -N -xn -RTS \
  --topology {{ cardano_config_dir }}/{{ cardano_topology_filename }} \
  --database-path {{ cardano_install_dir }}/db \
  --socket-path {{ cardano_install_dir }}/db/node.socket \
  --host-addr 0.0.0.0 \
  --port {{ cardano_default_port }} \
  --config {{ cardano_config_dir }}/{{ cardano_config_filename }} \
  --shelley-kes-key {{ cardano_keys_dir }}/kes.skey \
  --shelley-vrf-key {{ cardano_keys_dir }}/vrf.skey \
  --shelley-operational-certificate {{ cardano_keys_dir }}/node.cert
